* {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    align-items: center;
    flex-direction: column;  
    min-height: 100%;
} 

.sidebar-top {
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #4b4b4b;
    margin-right: 20px;
}
.sidebar-center {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #4b4b4b;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.logo{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 25px; 
}

.brand{
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}

.list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.list-item{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 25px;
    border-radius: 10px;
}

.list-item-icon {
    width: 30px;
    font-size: 20px;
}

.list-item:hover,
.list-item.active {
    background-color: #374151;
    color: white;
}

.color-box{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer; 
    margin-right: 15px;
    border: 1px solid
}

.dark {
    background-color: #111827
}

.night {
    background-color: #321e81
}

 .light {
    background-color: #f3f4f6
}

@media only screen and (max-width: 768px) {
    .sidebar{
        width: 50px;
    }
    .sidebar-top{
        margin-right: 7px;
    }
    .brand,.list-item-text{
        display: none;
    }
    .sidebar-bottom{
        flex-direction: column;
    }
    .color-box{
        margin-bottom: 10px; 
        margin-right: 0;
    }
}

.sidebar.night {
    background-color: #321e81;
    color: #b4bbc7;
} 


.list-item.active.night,
.list-item.night:hover
{
    background-color: #4338ca
}

.sidebar.light {
    background-color: #f3f4f6;
    color: #111827;
} 

.list-item.active light,
.list-item.light:hover
{
    background-color: #d1d5db;
    color: #111827;
}