* {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    align-items: center;
    flex-direction: column; 
} 

.sidebar-top {

}
.sidebar-center {}
.sidebar-bottom {}

.logo{
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px; 
}

.brand{
     font-weight: bold;
     cursor: pointer;
}

.list-item {

}